.navber {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo{
  width: 8vw;
  height: 8vh;
  background-image: url(../../assets/logoo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}


.navber-logo h3 {
  color: tomato;
  font-weight: bolder;
  font-size: 2.5vw;
  text-overflow: unset;
}

.navber-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navber_right {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.navber_button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.navber-button:hover {
  background-color: #fff4f2;
}
.navber .active {
  padding-bottom: 2px;
  border-bottom: 2px solid tomato;
  direction: 4s;
}
.navber li {
  cursor: pointer;
}
.navber-right {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

.navber-search-icon {
  position: relative;
}

.navber-search-icon img {
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
}
.navber-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

@media (max-width: 1050px) {
  .navber .logo {
    width: 140px;
  }
  .navber-menu {
    gap: 20px;
    font-size: 17px;
  }
}

@media (max-width: 750px) {
  .navber-menu {
    display: none;
  }
}
